<div class="card quest quest-<%= quest.id %>">
  <script type="text/javascript">
    $( function(){
      var $canvas = $(".progressbar-<%= quest.id %>");
      $canvas.attr('width', $canvas.parent().width())

      <% if quest.get_progress_debug(current_user, @client, @cache) >= 1.0 %>
      $.ajax({
        type: "DELETE",
        url: "quests/destroy",
        data: {
          "id": "<%= quest.id %>",
          "authenticity_token": "<%= form_authenticity_token %>"
        }
      })
      $canvas.setLayer('shareButtonBase', {
        click: function(layer){
          window.open('https://twitter.com/share?text=クエスト: <%= quest.to_s %> をクリアしました！&hashtags=デイリークエスったー', '_blank');
        }
      })
      <% end %>

      setInterval( function(){
        $(".limit-<%= quest.id %>").text(limitdate("<%= quest.created_at.tomorrow.to_s %>"));
      } , 1000);
    });

  </script>
  <div class="card-body">
    <h4><%= p quest.to_s %></h4>
    <div class="score score-<%= quest.id %>">クリアで<%= quest.get_score %>ポイントゲット！</div>
    <canvas class="progressbar progressbar-<%= quest.id %>" data-progress="<%= quest.get_progress_debug(current_user, @client, @cache) %>" width="420" height="40"></canvas>
    <div class="limit limit-<%= quest.id %>">残り 00:00:00</div>
  </div>
</div>
