<div class="post">
  <script type="text/javascript">
    setInterval( function(){
      $(".limit-<%= quest.id %>").text(limitdate("<%= quest.created_at.tomorrow.to_s %>"));
    } , 1000);
  </script>
  <div class="content content-<%= quest.id %>">
    <%= p quest.to_s %>
  </div>
  <div class="progress progress-<%= quest.id %>">
    <%= p quest.get_progress(@user, @client).to_s + "% 達成中！" %>
  </div>
  <div class="limit limit-<%= quest.id %>">残り 00:00:00</div>
</div>
