<% acc = @client.user(user.twid.to_i) %>

<div class="media">
  <% icon_path = get_twpic_uri(acc) %>
  <%= link_to image_tag(icon_path, size: "64x64" , alt: acc.name, class: "mr-3 rounded-circle"), "/users/#{acc.screen_name}" %>
  <div class="media-body">
    <h5 class="mt-0"><%= link_to acc.name, "/users/#{acc.screen_name}" %></h5>
    <%= "@#{acc.screen_name}" %>
    <%= link_to "(Twitter)", acc.url.to_s, target:"_new" %>
    <p class="user-score">Score: <%= user.get_score(nil) %> (today:<%= int_to_str_with_sign(user.todayscore) %>)</p>
  </div>
</div>
