<div class="row">
  <div class="col-md-8 col-sm-12">
    <%= render 'users/user_header', user: @user %>

    <%= render partial: 'users/detected' %>

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h3 class="card-title">あなたの今日のミッション<%= current_user.get_yesterdays_score(nil) %></h3>
        <p class="card-text">本日のあなたの暗号は
        <b>「<%= @todayswords.join("」、「") %>」</b>
        です。</p>
        <p class="card-text">これらの単語を含んだツイートをしてください。含まれた数に応じてポイントが加算されます。</p>

        <%= render partial: 'words/words' %>
      </div>
    </div>

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h3 class="card-title">あなたの昨日のミッション</h3>
        <%= render partial: 'words/deadwords' %>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <%= render partial: 'users/friends' %>
  </div>
</div>
