<div class="row">
  <div class="col-lg-4 col-sm-12">
    <%= render 'users/user_header', user: @user %>

    <%= render partial: 'users/detected' %>

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h3 class="card-title">Mission</h3>
        <p class="card-text">本日のあなたの暗号は
        <b>「<%= @todayswords.join("」、「") %>」</b>
        です。</p>
        <p class="card-text">これらの単語を含んだツイートをしてください。含まれた数に応じてポイントが加算されます。</p>

        <%= render partial: 'words/words' %>
      </div>
    </div>
  </div>
  <div class="col-lg-5 d-none d-md-block">
    <%= render partial: 'users/timeline' %>
  </div>
  <div class="col-lg-3 col-sm-12">
    <%= render partial: 'users/friends' %>
    <%= render partial: 'users/ranking' %>
  </div>
</div>
