<div class="row">
  <div class="col-md-4">
    <%= render 'users/user_header', user: @user %>

    <% if @user != current_user %>
    <%= render partial: 'users/report_form' %>
    <% end %>

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h3 class="card-title"><%= @user_tw_account.name %>の本日のミッション</h3>
        <%= render partial: 'words/words' %>
      </div>
    </div>

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h3 class="card-title"><%= @user_tw_account.name %>の昨日のミッション</h3>
        <%= render partial: 'words/deadwords' %>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <%= render partial: 'users/timeline' %>
  </div>
  <div class="col-md-3">
    <%= render partial: 'users/friends' %>
    <%= render partial: 'users/ranking' %>
  </div>
</div>
