<%= javascript_include_tag 'quest_show' %>

<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= form_tag({:controller => 'users', :action => 'senddm'}, :remote => true, :class => 'senddm-ajax') do -%>
<%= hidden_field_tag :ajax_tag, 'senddm' -%>
<%= submit_tag('Send dm', :class => 'btn btn-primary btn-sm') -%>

<% icon_path = @user_tw_account.profile_image_url.to_s.sub(/(.*)_normal/){$1} %>
<%= image_tag(icon_path, size: "64x64" , alt: @user_tw_account.name) %>
<% end %>

<%= render partial: 'quests/quest', collection: @quests, as: :quest %>
