<%= javascript_include_tag 'quest_show' %>

<div class="row">
  <div class="col-md-8">
    <div class="media">
      <% icon_path = @user_tw_account.profile_image_url.to_s.sub(/(.*)_normal/){$1} %>
      <%= image_tag(icon_path, size: "128x128" , alt: @user_tw_account.name, class: "mr-3 rounded-circle") %>
      <div class="media-body">
        <h2 class="mt-0"><%= @user_tw_account.name %></h2>
        <p>Score: <%= @user.score %></p>

        <%= link_to 'Logout', '/logout', method: :get, class: "btn btn-primary btn-sm" %>
      </div>
    </div>

    <p>あなたに与えられた「暗号」は</p>
    <ul>
      <%= render @words %>
    </ul>
    <p>です。</p>
    <p>これらの単語を含んだツイートをしてください。含まれた数に応じてポイントが加算されます。</p>

    <p><%= @user.word_updated_at.beginning_of_day.yesterday %></p>

    <% @tweets.each do |t| %>
      <% break if t.created_at < @user.word_updated_at.beginning_of_day.yesterday %>
      <p><%= t.created_at %></p>
    <% end %>

  </div>
  <div class="col-md-4">
    <%= render partial: 'users/ranking' %>
  </div>
</div>
