<div class="row">
  <div class="col-lg-4 order-lg-1 col-md-8 order-md-1 col-sm-12 order-sm-1">
    <%= render 'users/user_header', user: @user %>

    <% if @user != current_user %>
    <%= render partial: 'users/report_form' %>
    <% end %>

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h3 class="card-title"><%= @user_tw_account.name %>の本日のミッション</h3>
        <%= render partial: 'words/words' %>
      </div>
    </div>

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h3 class="card-title"><%= @user_tw_account.name %>の昨日のミッション</h3>
        <%= render partial: 'words/deadwords' %>
      </div>
    </div>
  </div>
  <div class="col-lg-5 order-lg-2 col-md-12 order-md-3 col-sm-12 order-sm-2">
    <h3 class="card-title"><%= @user_tw_account.name %>の最近のツイート</h3>
    <%= render partial: 'users/timeline' %>
  </div>
  <div class="col-lg-3 order-lg-3 col-md-4 order-md-2 col-sm-12 order-sm-3">
    <%= render partial: 'users/friends' %>
  </div>
</div>
