<% if @user == current_user %>
  <% #見ているのが自分自身の単語である場合 %>
  <% if word.detected %>
  <tr class="table-danger">
  <% else %>
  <tr>
  <% end %>
    <td><%= word.to_s %></td>
    <td><%= word.detected ? "摘発されました" : "未摘発" %></td>
    <td><%= word.count_including_tweets(@user, @client) %></td>
    <td><%= word.get_score(@user, @client) %></td>
  </tr>
<% else %>
  <% #見ているのが自分以外の単語である場合 %>
  <% if word.detected %>
    <% if word.detectorid == current_user.id %>
      <tr class="table-info">
    <% else %>
      <tr class="table-warning">
    <% end %>
  <% else %>
    <tr>
  <% end %>
    <td><%= word.detected || !word.report_available? ? word.to_s : "???" %></td>
    <td><%= word.detected ? (word.detectorid == current_user.id ? "摘発しました" : "摘発されています") : "未摘発" %></td>
    <td><%= word.detected || !word.report_available? ? word.countcache : "???" %></td>
    <td><%= word.detected || !word.report_available? ? word.get_score(@user, nil) : "???" %></td>
  </tr>
<% end %>
