<% if @user == current_user %>
  <% #見ているのが自分自身の単語である場合 %>
  <% if word.detected %>
  <tr class="table-danger">
  <% else %>
  <tr>
  <% end %>
    <% count = word.count_including_tweets(@user, @client) %>
    <td><%= word.to_s %></td>
    <td><%= word.detected ? "摘発されました" : "未摘発" %></td>
    <td><%= word.count_including_tweets(@user, @client) %></td>
    <td><%= word.get_score(@user, @client) %></td>
    <% @sum += word.get_score(@user, @client) %>
  </tr>
<% else %>
  <% #見ているのが自分以外の単語である場合 %>
  <% if word.detected %>
  <tr class="table-danger">
  <% else %>
  <tr>
  <% end %>
    <% count = word.count_including_tweets(@user, @client) %>
    <td><%= word.detected ? word.to_s : "???" %></td>
    <td><%= word.detected ? "摘発されました" : "未摘発" %></td>
    <td><%= word.detected ? word.count_including_tweets(@user, @client) : "???" %></td>
    <td><%= word.detected ? word.get_score(@user, @client) : "???" %></td>
    <% @sum += word.get_score(@user, @client) %>
  </tr>
<% end %>
