<header class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a href="<%= root_path %>" class="navbar-brand">
    <%= image_tag "logo.png", width:200 %>
  </a>

  <ul class="navbar-nav mr-auto">
    <% if !(logged_in?) %>
      <li class="nav-item"><%= link_to "ホーム", root_path, class:"nav-link"%></li>
    <% end %>
    <li class="nav-item"><%= link_to "遊び方", '/about', class:"nav-link"%></li>
    <li class="nav-item"><%= link_to "インフォメーション", '/info', class:"nav-link"%></li>
    <% if logged_in? %>
      <li class="nav-item"><%= link_to "マイページ", root_path, class:"nav-link"%></li>
      <li class="nav-item"><%= link_to "ログアウト", '/logout', class:"nav-link"%></li>
    <% end %>
  </ul>
</header>
