<% if tweet.retweeted_status.nil? %>
<div class="media">
  <%= image_tag(get_twpic_uri_small(tweet.user), size: "48x48" , alt: tweet.user.name, class: "mr-3") %>
  <div class="media-body">
    <% if User.find_by(twid: tweet.user.id.to_s) != nil %>
    <p><%= link_to tweet.user.name, "/users/#{tweet.user.screen_name}" %></p>
    <% else %>
    <p><%= tweet.user.name  %></p>
    <% end %>
    <p><%= tweet.full_text %></p>
  </div>
</div>
<hr>
<% else %>
<p><%= tweet.user.name  %>さんがリツイート</p>
<%= render partial: 'layouts/tweet', locals:{tweet: tweet.retweeted_status} %>
<% end %>
