<% if tweet.retweeted_status.nil? %>
<div class="media tweet mt-0 mb-3">
  <%= image_tag(get_twpic_uri_small(tweet.user), size: "48x48" , alt: tweet.user.name, class: "mr-3") %>
  <div class="media-body">
    <% if User.find_by(twid: tweet.user.id.to_s) != nil %>
    <h5 class="mt-0"><%= link_to tweet.user.name, "/users/#{tweet.user.screen_name}" %></h5>
    <% else %>
    <h5 class="mt-0"><%= tweet.user.name  %></h5>
    <% end %>
    <p><%= excludelinks(tweet.full_text) %></p>
    <% tweet.uris.each do |uri| %>
      <p><%= link_to uri.expanded_url.to_s, uri.url.to_s, target: "_new" %></p>
    <% end %>
    <% tweet.media.each do |media| %>
      <%= link_to image_tag(media.media_url.to_s, size: "48x48"),media.media_url.to_s, target: "_new"  %>
    <% end %>
  </div>
</div>
<hr>
<% else %>
<p class="retweet"><%= tweet.user.name  %>さんがリツイート</p>
<%= render partial: 'layouts/tweet', locals:{tweet: tweet.retweeted_status} %>
<% end %>
